

.live {
    transform-origin: center; /* Устанавливаем точку вращения по центру элемента */
    animation: rotateAnimation 3s infinite linear; /* Анимация со временем 2 секунды и бесконечным повторением */
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg); /* Начальная позиция */
    }
    25% {
        transform: rotate(40deg); /* Вращение вправо на 40 градусов */
    }
    50% {
        transform: rotate(0deg); /* Возврат к 0 градусов */
    }
    75% {
        transform: rotate(-40deg); /* Вращение влево на 40 градусов */
    }
    100% {
        transform: rotate(0deg); /* Возврат к 0 градусов */
    }
}

.mint {
    transform-origin: center; /* Устанавливаем точку вращения по центру элемента */
    animation: spin 4s infinite linear; /* Анимация со временем 2 секунды и бесконечным повторением */
}

@keyframes spin {
    0% {
        transform: rotate(0deg); /* Начальная позиция */
    }
    25% {
        transform: rotate(-40deg); /* Вращение вправо на 40 градусов */
    }
    50% {
        transform: rotate(0deg); /* Возврат к 0 градусов */
    }
    75% {
        transform: rotate(40deg); /* Вращение влево на 40 градусов */
    }
    100% {
        transform: rotate(0deg); /* Возврат к 0 градусов */
    }
}

.lite {
    transform-origin: center; /* Устанавливаем точку вращения по центру элемента */
    animation: spill 2s infinite linear; /* Анимация со временем 2 секунды и бесконечным повторением */
}

@keyframes spill {
    0% {
        transform: rotate(0deg); /* Начальная позиция */
    }
    25% {
        transform: rotate(40deg); /* Вращение вправо на 40 градусов */
    }
    50% {
        transform: rotate(0deg); /* Возврат к 0 градусов */
    }
    75% {
        transform: rotate(-40deg); /* Вращение влево на 40 градусов */
    }
    100% {
        transform: rotate(0deg); /* Возврат к 0 градусов */
    }
}

