.section__turnable-svg {
    animation: spin 6s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }         /* Исходное положение */
    25% { transform: rotate(-40deg); }      /* Поворот влево 40 градусов */
    50% { transform: rotate(0deg); }        /* Возвращение в исходное положение */
    75% { transform: rotate(40deg); }       /* Поворот вправо 40 градусов */
    100% { transform: rotate(0deg); }       /* Возвращение в исходное положение */
}

.section__turntable {
    overflow: hidden;                       /* Скрывает переполнение и убирает скроллинг */
    width: 1280px;                          /* Ширина контейнера равна ширине SVG */
    height: 1192px;                         /* Высота контейнера равна высоте SVG */
}