/*1366*/
@media(max-width: 1680px) {
    /*header*/

    .header {
        width: 100%;
    }

    .header__link span {
        font-size: 187.31px;
        line-height: 243.69px;
        padding-right: auto;
    }

    /*hero*/

    .hero__element1 {
        max-width: 368px;
        min-height: 368px;
        height: 100%
    }

    .hero__two {
        margin-right: auto
    }

    .hero__element2 {
        max-width: 368px;
        min-height: 368px;
        height: 100%
    }

    .hero__element3 {
        max-width: 368px;
        min-height: 368px;
        height: 100%
    }
    /*section__three*/

    .section__element-one {
        width: 1223px;
        height: 1768px;
        height: 100%
    }

    .three__svg {
        display: flex;
        justify-content: center;
    }

    /*section__four*/

    .section__block-one {
        margin-right: auto;
    }

    .section__element-two {
        width: 368px;
        height: 368px;
        height: 100%;
    }

    .section__element-three {
        width: 368px;
        height: 368px;
        height: 100%;
    }

    .section__element-four {
        width: 368px;
        height: 368px;
        height: 100%;
    }

    /*section__five*/

    .section__cube {
        width: 837px;
        height: 390px;
        height: 100%;
    }

    .section__text {
        max-width: 776px;
        min-height: 216px;
        font-size: 30px;
        line-height: 39px;
        transform: translateY(185px);
        padding-left: 137px;
    }

    .section__mask {
        width: 532px;
        height: 370px;
        height: 100%;
    }

    .section__two {
        transform: translateY(10px);
    }

    /*section__six*/

    .section__svg-one {
        width: 1679px;
        width: 100%;
        height: 100%;
    }

    /*section__seven*/

    .section__turnable {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__svg {
        width: 1093px;
        height: 995px;
        height: 100%;
    }

    /*section__eight*/

    .section__svg-two {
        width: 1679px;
        width: 100%;
        height: 100%;
    }

    /*footer*/

    .footer {
        width: 100%;
    }

    .marquee span {
        color: #FFF;
        font-weight: 500;
        font-size: 187.31px;
        line-height: 243.69px;
        padding-right: 50px;         /* Отступ между словами */
    }

    .market span {
        color: #FFF;
        font-weight: 500;
        font-size: 130px;
        line-height: 169.13px;
        padding-right: 20px;         /* Отступ между словами */
    }

}