@font-face {
  font-family: "Pragmatica"; 
  src: url("./fonts/Pragmatica.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

.container {
	width: 1280px;
	background-color: #000000;
	margin: 0 auto;
	display: flex;
	flex-direction: column;	
}

.scrolling-text-wrapper {
	overflow: hidden;
}

.scrolling-text {
  display: flex;
  gap: 100px;
  width: fit-content;
  animation: scrolling 10s linear infinite;
  -webkit-transform-style: preserve-3d;	
} 

.scrolling-text span{
	width: fit-content;
	color: #ffffff;	
	font-size: 187px;
	font-family: "Pragmatica";
	white-space: nowrap;
	-webkit-backface-visibility: hidden;
}

.ornament-line-1 .item-1 { 
	animation: fade_1 3s linear infinite; 
}

.ornament-line-1 .item-2 { 
	animation: fade_2 3s linear infinite; 
}

.ornament-line-1 .item-right {
	float: right;
	animation: min_max 3s linear infinite; 
}	





@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes fade_1 {
	0% { display: none; }
	50% { display: none; }
	51% { display: inline-block; }		
	100% { display: inline-block;}
}

@keyframes fade_2 {
	0% { display: inline-block; }
	48% { display: inline-block; }
	50% { display: none; }		
	100% { display: none; }
}

@keyframes min_max {
	0% { transform: scale(1); }
	50% { transform: scale(.85); }
	100% { transform: scale(1); }			
}	
